@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* { box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

html {
    margin: 0;
    height: 100%;
}

body { 
    margin: 0;
    height: 100vh;
}

:root {
  --primary-color: #0d9ce7;
  --darkblue-color: #0b74bb;
  --grey-color:#64738a;
  --grey1-color: #afbbca;
  --grey2-color:#F9FAFD;
  --white-color: #fff;
  --background-color: #f1f2f2;
  --font-color: #64738a;
}

h1, h2, h3, h4, h5, h6, p { margin: 0 }

.flex { display: flex }
.flex.space-around { justify-content: space-around }
.flex.space-between { justify-content: space-between }
.flex.center { justify-content: center }
.flex.column { flex-direction: column; }

.flex-1 { flex: 1 }
.flex-2 { flex: 2 }
.flex-3 { flex: 3 }
.flex-4 { flex: 4 }
.flex-8 { flex: 8 }
.flex-9 { flex: 9 }

button {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 700;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    white-space: nowrap;
    min-height: 40px;
    min-width: 150px;
    padding: 0 32px;
    font-size: 16px;
    line-height: 24px;
}

button:hover {
    background-color: var(--darkblue-color);
}

.logOut {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.logOut:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}